In [5]:
library(data.table)
library(tidyverse)
library(dtplyr)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.2     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::between()     masks data.table::between()
✖ dplyr::filter()      masks stats::filter()
✖ dplyr::first()       masks data.table::first()
✖ lubridate::hour()    masks data.table::hour()
✖ lubridate::isoweek() masks data.table::isoweek()
✖ dplyr::lag()         masks stats::lag()
✖ dplyr::last()        masks data.table::last()
✖ lubridate::mday()    masks data.table::mday()
✖ lubridate::minute()  masks data.table::minute()
✖ lubridate::month()   masks data.table::month()
✖ lubridate::quarter() masks data.table::quarter()
✖ lubridate::second()  masks data.table::second()
✖ purrr::transpose()   masks data.table::transpose()
✖ lubridate::wday()    masks data.table::wday()
✖ lubridate::week()    masks data.table::week()
✖ lubridate::yday()    masks data.table::yday()
✖ lubridate::year()    masks data.table::year()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
dat <- data.table::fread("CHdataset_naiive.csv")

  No cohortID Edate                Fdate_1              Fdate_2
1 1  TCH-1    2012-05-23T00:00:00Z 2012-05-23T00:00:00Z 2012-11-30T00:00:00Z
2 2  TCH-2    2008-06-27T00:00:00Z 2008-06-27T00:00:00Z 2008-10-01T00:00:00Z
3 3  TCH-3    2009-01-25T00:00:00Z 2009-01-25T00:00:00Z 2009-07-23T00:00:00Z
4 4  TCH-4    2012-04-26T00:00:00Z 2012-04-26T00:00:00Z 2012-10-12T00:00:00Z
5 5  TCH-5    2012-03-14T00:00:00Z 2012-03-14T00:00:00Z NA
6 6  TCH-6    2005-03-17T00:00:00Z 2005-03-17T00:00:00Z 2005-09-05T00:00:00Z
  Fdate_3              Fdate_4              Fdate_5
1 2013-05-31T00:00:00Z 2013-11-29T00:00:00Z 2014-03-07T00:00:00Z
2 2009-07-01T00:00:00Z NA                   NA
3 2010-01-14T00:00:00Z 2010-07-08T00:00:00Z 2011-01-27T00:00:00Z
4 NA                   2014-01-25T00:00:00Z NA
5 2013-04-15T00:00:00Z NA                   NA
6 2006-03-20T00:00:00Z 2006-09-06T00:00:00Z 2007-03-12T00:00:00Z
  Fdate_6              Fdate_7              ⋯ days_14 days_15 days_16 days_17
1 2014-11-15T00:00:00Z NA                   ⋯ 2374    2556    2739    2922
2 NA                   NA                   ⋯ 2334    2604    2739    2922
3 2011-07-14T00:00:00Z 2012-01-19T00:00:00Z ⋯ 2384    2556    2739    2922
4 2014-11-05T00:00:00Z 2015-02-27T00:00:00Z ⋯ 2374    2556    2739    2922
5 2014-06-26T00:00:00Z NA                   ⋯ 2374    2556    2739    2922
6 2007-09-18T00:00:00Z 2008-03-05T00:00:00Z ⋯ 2365    2568    2743    2904
  days_18 days_19 days_20 days_21 days_22 days_23
1 3104    3287    3469    3652    3835    4017
2 3104    3287    3469    3652    3835    4017
3 3104    3287    3469    3652    3835    4017
4 3104    3287    3469    3652    3835    4017
5 3104    3287    3469    3652    3835    4017
6 3093    3282    3469    3652    3835    4017